header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0D52AB; //todo: change to color scheme

    #search-box
    {
        width: 20rem;
        height: 2rem;
        margin-left: 2rem;
    }

    img
    {
        height: 2rem;
        margin: 1rem;
    }
}