body{
  margin: 0;
}
  .title{
    background-color: #0d6efd;
    color: white;
    padding: 20px;
    display: flex;
    position: absolute;
    margin-left: 6vw;
    width: 75vw;
  }
  
  .logo {
    font-size: 1em;
    margin-bottom: 30px;
    margin-left: -4vw;
    margin-top: -7vh;
    cursor: pointer;
  }
  
  .menu {
    list-style-type: none;
    margin-left: -2vw;
    margin-top: -10vh;
  }
  